<footer id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-md-4"> <span class="copyright">Serre ÉTS &copy; 2015</span> </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://www.facebook.com/SerreETS" target="_blank"><i class="fa fa-facebook"></i></a> </li>
                    <li><a href="https://github.com/SerreETS" target="_blank"><i class="fa fa-github"></i></a> </li>
                </ul>
            </div>
            <div class="col-md-4"> <span class="sponsors">Commanditaire</span> <img src="web/img/ets_logo_footer.png" width="105" height="66" alt="École de Technologie supérieure"></div>
        </div>
    </div>
</footer>


