<header id="navbar-main"> 
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="ScrollCtrl">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand smoothScroll" href="#home"><img src="web/img/logo.png" width="112" height="40" alt="SerreÉTS"></a></div>
            <div class="navbar-collapse collapse">
               
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home" ng-click="gotoElement('home')" class="smoothScroll">Accueil</a></li>
                    
                    <li> <a href="#about" ng-click="gotoElement('about')" class="smoothScroll">Notre mission</a></li>
                    <li> <a href="#services" ng-click="gotoElement('services')" class="smoothScroll">Notre serre</a></li>
                    <li> <a href="#portfolio" ng-click="gotoElement('portfolio')" class="smoothScroll">Nos projets</a></li>
                    <li> <a href="#team" ng-click="gotoElement('team')" class="smoothScroll">Notre équipe</a></li>
                    <li> <a href="#enlisting" ng-click="gotoElement('enlisting')" class="smoothScroll">Recrutement</a></li>
                    <li> <a href="#contact" ng-click="gotoElement('contact')" class="smoothScroll">Contactez-nous</a></li>
                </ul>
                
            </div>
            <!--/.nav-collapse --> 
        </div>
    </div>
</header>



